<?xml version="1.0" encoding="utf-8"?>
<!-- Rotation is set to portrait mode as the incorporated Spinner functionality
     crashes when the device gets rotated and landscape mode is even on tablets less useful.

     Multiwindow crashes when rotating the screen,
     reason: Spinner in CountingActivity.
     Solution: application attribute android:resizeableActivity="false"
     prohibits multi-window-mode.

     Last edited 2025-07-02
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
        -->
    <!-- Permissions used for exporting files to the public directory Documents/TourCount
         which are then readable by an external app (until Android SDK-version 29) -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"
        android:maxSdkVersion="29"/>

    <!-- Permission used for exporting files to the public directory Documents/TourCount
         which are then readable by an external app (since Android SDK-version >=30) -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"
        android:minSdkVersion="30" />

    <!-- Permissions needed for location providers and getting location updates in background -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!-- Permission needed for screen set on/off -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <!-- Permission needed for Nominatim OSM reverse geocoding -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- VIBRATE permission -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- android:largeHeap="true" (doesn't make a difference for ListSection problem) -->
    <application
        android:name=".TourCountApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/ic_launcher"
        android:label="TourCount"
        android:resizeableActivity="false"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="DataExtractionRules,DiscouragedApi,GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name="com.wmstein.tourcount.WelcomeActivity"
            android:label="@string/app_name"
            android:configChanges="uiMode"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.wmstein.filechooser.AdvFileChooser"
            android:label="@string/title_activity_file_chooser"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.EditMetaActivity"
            android:label="@string/title_activity_meta"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.ShowResultsActivity"
            android:label="@string/title_activity_list_species"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.CountingActivity"
            android:label="@string/title_activity_counting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.createChooser" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.CountOptionsActivity"
            android:label="@string/title_activity_count_options"
            android:parentActivityName="com.wmstein.tourcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.EditIndividualActivity"
            android:label="@string/title_activity_edit_individual"
            android:parentActivityName="com.wmstein.tourcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.EditSpecListActivity"
            android:label="@string/title_activity_edit_section"
            android:parentActivityName="com.wmstein.tourcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.DelSpeciesActivity"
            android:label="@string/title_activity_del_species"
            android:parentActivityName="com.wmstein.tourcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.AddSpeciesActivity"
            android:label="@string/title_activity_add_species"
            android:parentActivityName="com.wmstein.tourcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.DummyActivity"
            android:label="@string/title_activity_dummy"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <service android:name="com.wmstein.tourcount.LocationService"
            android:foregroundServiceType="location"
            android:exported="false">
        </service>

    </application>

</manifest>
