<?xml version="1.0" encoding="utf-8"?>
<!-- Rotation is set to portrait mode as the incorporated Spinner functionality
     crashes when the device gets rotated and landscape mode is even on tablets less useful.
     Last edited 2023-07-06
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions used for exporting files to the public directory Documents/TransectCount 
         which are then readable by an external app (until Android SDK-version 29) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" android:maxSdkVersion="29"/>

    <!-- Permission used for exporting files to the public directory Documents/TransectCount
         which are then readable by an external app (since Android SDK-version 30) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Permissions needed for location providers -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <!-- Permission needed for screen set on/off -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <!-- Permission needed for reverse geocoding -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--VIBRATE permission-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- multiwindow crashes when rotating the screen, 
         reason: spinner in Counting(L)Activity, 
         solution: application attribute
		   android:resizeableActivity="false" 
		 prohibits multi-window-mode
	-->
    <application
        android:name=".TourCountApplication"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false"
        tools:ignore="DataExtractionRules,GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name="com.wmstein.tourcount.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.wmstein.filechooser.AdvFileChooser"
            android:label="@string/title_activity_file_chooser"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.EditMetaActivity"
            android:label="@string/title_activity_meta"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.ListSpeciesActivity"
            android:label="@string/title_activity_list_species"
            android:launchMode="singleTop"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.CountingActivity"
            android:label="@string/title_activity_counting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.wmstein.tourcount.WelcomeActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="WelcomeActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.createChooser" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.CountOptionsActivity"
            android:label="@string/title_activity_count_options"
            android:parentActivityName="com.wmstein.tourcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.EditIndividualActivity"
            android:label="@string/title_activity_edit_individual"
            android:parentActivityName="com.wmstein.tourcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.EditSpecListActivity"
            android:label="@string/title_activity_edit_section"
            android:parentActivityName="com.wmstein.tourcount.CountingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CountingActivity"/>
        </activity>

        <activity
            android:name="com.wmstein.tourcount.AddSpeciesActivity"
            android:label="@string/title_activity_add_species"
            android:parentActivityName="com.wmstein.tourcount.EditSpecListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="EditSpecListActivity"/>
        </activity>

        <service android:name="com.wmstein.tourcount.LocationService"
            android:exported="false">
        </service>

        <!-- multiwindow crashes when rotating the screen, reason: spinner in CountingActivity
                <uses-library
                    android:name="com.sec.android.app.multiwindow"
                    android:required="false"/>

                <meta-data
                    android:name="com.sec.android.support.multiwindow"
                    android:value="true"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
                    android:resource="@dimen/app_defaultsize_w"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
                    android:resource="@dimen/app_defaultsize_h"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
                    android:resource="@dimen/app_minimumsize_w"/>
                <meta-data
                    android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
                    android:resource="@dimen/app_minimumsize_h"/>
        -->
    </application>

</manifest>
